*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
   font-family: "Roboto", sans-serif;
}

/* classi di layout */

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;

}

.container-full{
    max-width: 100%;
}

.container-bg{
    max-width: 1100px;
    margin: 0 auto;
}

.container-sm{
    max-width: 900px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.m-top85{
    margin-top: 85px;
}

.my-40{
    margin: 40px 0;
}

.my-50{
    margin: 50px 0;
}

.my-100{
    margin-top: 100px;
}

.p-30{
    padding: 30px;
}


.col-5{
    width: calc(100% / 5);
}

.col-33{
    width: calc(100% / 3);
}

.col-40{
    width: 40%;
}

.col-50{
    width: 50%;
}

.col-60{
    width: 60%;
}

.col-100{
    width: 100%;
} 

.content-header{
    padding: 30px;
    display: flex;
}

.content-main{
    /* padding: 20px 0; */
    /* margin: 5px; */
}

.content-main-stretch{
    margin: 10px 5px;
    min-height: 900px; 
}

.content-footer{
    margin: 20px;
}


/* classi di stile */

.bg-lightblue{
    background-color: #b8d0e7;
}

.bg-white{
    background-color: #fff;   
}



.bg-black{
    background-color: black;
}



.justify{
    justify-content: end;
}


.logo{
    margin-right: 15px;
}


.list li{
    display: inline-block;
    margin-left: 10px;
    margin-top: 4px;
}

.list li a{
    color: black;
    text-decoration: none;
}

.list .start{
    padding: 5px;
    border: 0px;
    background-color: #0061ff;
}

.content-main.title{
    /* text-align: center; */
    font-size: 25px;
}


.section-one{
    font-size: 15px;
}

.section-one > p{
    margin-bottom: 30px;
}

.content-main > .bottons{
    margin: 35px 0;
}

.bottons > .blue-bottons{
    padding: 10px;
    background-color: #0061ff;
    color: white;
    border: 0px;
    margin: 10px 0;
}

.fa-solid.fa-arrow-down{
    font-size: 25px;
}

.jumbo{
    width: 100%;
    margin-bottom: -100px;
}





.section-two > h2{
    font-size: 30px;
}

.circle{
    display: inline-block;
    margin-top: 40px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.circle.b-blue{
    border: 4px solid blue;
}

.circle.b-gray{
    border: 2px solid rgb(97, 97, 97);
}

.circle + span{
    margin-right: 60px;
    font-size: 12px;
}





.section-tree{
    border: 1px solid rgb(107, 107, 107);
}


.card-top{
    text-align: center;
    border-bottom: 1px solid rgb(107, 107, 107);
    padding: 10px;
    font-size: 13px;
}

.card-bottom{
    padding: 20px;
}

.card-bottom > h3{
    font-size: 20px;
    margin: 25px 0;
}

.card-bottom >.subscription{
    color: darkgray;
    font-size: 12px;
}

.list.card{
    padding: 5px;
    font-size: 15px;
}


.card-bottom > div{
    margin: 25px 0; 
    font-size: 14px;
}

.bottons.center{
    text-align: center;
}

.blue-bottons.cards{
    width: 90%;
}

.card-bottom > hr{
    width: 20%;
}

.card-bottom > h4{
    margin: 20px 0;
}

.list.card li{
    margin: 10px 0;
   
}

.list.card i.fa-solid.fa-check{
    color: #0061ff;
}


.content-main.section-four{
    margin-top: 20px;
    border: 1px solid rgb(107, 107, 107);
}

.part-top{
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid rgb(107, 107, 107) ;
}

.part-bottom{
    padding: 20px;
    position: relative;
}

.part-bottom p{
    margin-top: 50px;
    font-size: 12px;
}


.bottons.absolute{
    position: absolute;
    top: 20px;
    right: 20px;
}


.section-five-left{
    padding: 20px;
}


.content-main.section-five > img{
    width: 100%;
}


.content-main.section-five-left{
    padding-top: 50px;
}

.content-main.section-five-left h2{
    font-size: 30px;
    margin-bottom: 20px;
}

.content-main.section-five-left p{
    margin: 30px 0;
}

.btn-section-five{
    padding: 10px;
    border: none;
}

.content-main.section-six{
    margin-top: 30px;
}

.content-main.section-six > h2{
    font-size: 35px;
}




.section-seven{
    padding: 20px;
}


.content-main.section-seven img{
    width: 100%;
}

.content-main.section-seven h3{
    margin: 20px 0;
}




.content-main.section-eight{
    margin: 60px 0;
}

.content-main.section-eight h2{
    margin: 50px 0px;
}

.content-main.section-eight a{
    font-size: 15px;
}


.content-main.section-nine{
    display: flex;
    flex-wrap: wrap;
}

.square{
    position: relative;
    width: calc(100% / 2);
    height: 150px;
    /* background-color: red; */
    /* border: 1px solid black; */
}

.bg-lightgreen{
    background-color: #82d766;
}

.bg-purple{
    background-color: #5c0808;
}

.bg-bluelight{
    background-color: #3993ce;
}

.bg-red{
    background-color: #ff0000;
}

.bg-darkred{
    background-color:#d10404 ;
}

.bg-light{
    background-color: #b8d0e7;
}

.bg-bluedark{
    background-color: #192581;
}

.bg-yellow{
    background-color: #ffd70c;
}

.square > .logo{
    position: absolute;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1)
}

.container-full.bg-lightgray{
    margin-top: 70px;
    background-color: #d9d6d6;
}

.square-center{
    padding: 40px;
    /* background-color: #d9d6d6; */
}

.square-center > .logo-center{
    width: 130px;
}

.square-center hr{
    margin-top: 25px;
    width: 20%;
}

.square-center p{
    font-size: 12px;
    margin-top: 32px;
}


.section-ten{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 100px 0px;
}

.section-ten > h2{
    font-size: 35px;
    color: #5c0808;

}


.section-ten > .btn-s-ten{
    position: absolute;
    right: 20px;
    top: 40%;
    padding: 10px;
    border: none;
    width: 200px;
    
}

.section-eleven > .flex{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    border-top: 1px solid lightgray;
    font-weight: bold;
    font-size: 15px;
}

.section-eleven > h2{
    margin: 20px 0px;
    font-size: 30px;
}

.section-eleven > .flex.border{
    border-bottom: 1px solid lightgray;
}


.footer-list{
    color: #fff;
    list-style-type: none;
}

.footer-list > li{
    margin: 15px 0;
}

.footer-list h4{
    margin-bottom: 30px;
}


.footer-list > li a{
    text-decoration: none;
    color: #fff;
    font-size: 11px;
}


.footer-line{
    width: 10%;
    margin-bottom: 25px;
}


.content-footer.bottom{
    
    color: #707070;
    font-size: 10px;
}






